@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf"); }
svg text {
  font-family: "OpenSans"; }

.emptyRect {
  fill: none;
  stroke: #dddddd;
  stroke-width: 1; }

.disLabelText {
  font-weight: bold;
  font-size: 9pt;
  fill: #999999; }
